################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnScreenKeyboardManager/bin
/OnScreenKeyboardManager/obj
/.vs
