<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OnScreenKeyboardManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OnScreenKeyboardManager.Properties.Settings>
            <setting name="DoNotCloseOKS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OskFileName" serializeAs="String">
                <value>TabTip</value>
            </setting>
            <setting name="OSKWinClass" serializeAs="String">
                <value>OSKMainClass</value>
            </setting>
            <setting name="OSKWinTitle" serializeAs="String">
                <value />
            </setting>
        </OnScreenKeyboardManager.Properties.Settings>
    </userSettings>
</configuration>